* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: "Jersey 10", sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url("../../img/BGicons5.png");
    background-size: 7%;
    color: #282855;
}

.main {
    letter-spacing: 2px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0 50px 0;
}

.tituloPrincipal{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 10px solid #2f477c;
    border-radius: 5px;
    font-size: 2rem;
    margin-bottom: 30px;
    background-color: #539eb5;
    color: white;
    padding: 1% 5% 1% 5%;
    filter: drop-shadow(5px 5px 0px #23345c);
}

.contenedorTitulo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.titulo {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #2f477c;
    border-radius: 5px;
    font-size: 1.5rem;
    margin: 40px 0 30px 0;
    background-color: #539eb5;
    color: white;
    padding: 1% 5% 1% 5%;
    filter: drop-shadow(5px 5px 0px #23345c);
}

input,select{
    border: none;
    font-size: 10px;
    color: #282855;
}


.textoPuntos{
    width: 30%;
}
.valorPuntos{
    width: 20%;
}

@media screen and (max-width: 1000px) {

    .titulo {
        font-size: 20px;
    }

}

@media screen and (max-width: 840px) {

    .titulo {
        font-size: 18px;
    }

}

@media screen and (max-width: 770px) {

    .titulo {
        font-size: 16px;
    }

}

@media screen and (max-width: 690px) {

    .titulo {
        font-size: 16px;
        text-align: center;
    }

}

@media screen and (max-width: 495px) {

    .titulo {
        width: 50%;
        font-size: 15px;
        text-align: center;
    }

}

.formulario {
    width: 100%;
    height: 90%;
}

.cajaNomApoGenPos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cajaEquipo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    gap: 10%;
}

.datos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.cajaPregunta {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-block: 20px;
    padding-top: 5px;
    background-color: #78aaca;
    filter: drop-shadow(5px 5px 0px #689dbe);
    border-radius: 5px;
}

.cajaImagen {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 50px;
    background-color: #99c9e2;
    filter: drop-shadow(5px 5px 0px #5096b5);
    border-radius: 5px;
    padding: 15px;
}

.cajaImagenEquipo {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.tipoImagen {
    font-size: 2.5rem;
    margin-block: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: #78aaca;
    padding: 10px;
    border-radius: 3px;
}

.subirImagen {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #78aaca;
    padding: 20px;
    border-radius: 3px;
}

.cajaInput {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imagen {
    /* Estilo para el contenedor del input personalizado */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.2rem;
}

.imagen:hover {
    background-color: #e0e0e0;
}

.consejo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    text-align: center;
    font-size: 1.2rem;
}

.tipoErrorImagen {
    font-size: 20px;
    margin-block: 10px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tipo {
    font-size: 2rem;
    margin-block: 10px;
    width: 90%;
    background-color: #2f477c;
    text-align: center;
    padding: 5px;
    color: white;
    border-bottom: 10px solid #282855;
    border-radius: 3px;
}

.tipoError {
    font-size: 20px;
    margin-block: 10px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.selector {
    width: 90%;
    height: 50px;
    font-size: 1.2rem;
    padding-left: 10px;
    border-radius: 3px;
}

@media screen and (max-width: 630px) {

    .selector {
        font-size: 18px;
    }

}

@media screen and (max-width: 550px) {

    .selector {
        font-size: 16px;
    }

}

@media screen and (max-width: 500px) {

    .selector {
        font-size: 14px;
    }

}

@media screen and (max-width: 500px) {

    .selector {
        font-size: 13px;
    }

}

.cajaEstadisticas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.estadisticas {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    background-color: #78aaca;
    border: 20px solid #99c9e2;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 0px #5096b5);
}

.estadistica {
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campoEstadisticas {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tipoEstadistica {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.inputRango {
    width: 80%;
}

.puntoRestante{
    width: 100%;
}


.valor {
    width: 20%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoPuntos {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.valorPuntos {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
}

.cajaPePt{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #78aaca;
    border: 15px solid #99c9e2;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 0px #5096b5);
}


@media screen and (max-width: 720px) {

    .textoPuntos {
        width: 60%;
    }

    .valorPuntos {
        width: 40%;
    }

}

@media screen and (max-width: 590px) {

    .textoPuntos {
        width: 70%;
        font-size: 18px;
    }

    .valorPuntos {
        width: 30%;
        font-size: 18px;
    }

}

@media screen and (max-width: 590px) {

    .textoPuntos,
    .valorPuntos {
        font-size: 16px;
    }

}

.errorEstadisticas {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.campoErrorEstadisticas {
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

@media screen and (max-width: 500px) {

    .campoErrorEstadisticas {
        width: 300px;
    }
    
}

@media screen and (max-width: 340px) {

    .campoErrorEstadisticas {
        width: 250px;
    }
    
}

.cajaBoton {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 40px;
    transition: transform 0.5s;
}

.cajaBoton:hover {
    transform: scale(1.1);
}

.boton {
    width: 100%;
    height: 100px;
    background-image: url('../../img/botonGrande.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('https://cdn.custom-cursor.com/db/8838/32/anime-inazuma-eleven-endou-mamoru-cursor.png'), pointer;
}

.boton p {
    font-size: 2rem;
    color: white;
}

/* Estilos para movil */

@media screen and (max-width: 426px) {
    .tituloPrincipal{
        font-size: 1.4rem;
        margin: 5%;
    }

    .titulo {
        width: 75%;
        font-size: 18px;
    }

    .cajaPregunta {
        width: 90%;
        margin: 0;
    }

    .selector {
        font-size: 16px;
    }

    .estadistica {
        width: 100%;
    }

    .textoPuntos,
    .valorPuntos {
        font-size: 20px;
    }

    .estadisticas {
        margin-top: 20px;
    }

    .cajaImagen{
        width: 90%;
    }
    .subirImagen{
        width: 90%;
    }

    .cajaImagenEquipo{
        width: 100%;
    }
    .tipoImagen{
        text-align: center;
        font-size: 2rem;
    }
    .imagen{
        font-size: 0.8rem;
    }
    .datos{
        gap: 20px;
    }
    .cajaBoton{
        width: 60%;
    }
    .boton{
        text-align: center;
    }
    .boton p{
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 376px) {

    .titulo {
        font-size: 16px;
    }

}