header{
    width: 100%;
    height:80px;
    background-color: rgba(68, 90, 137, 0.639);
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Jersey 10", sans-serif;
    padding: 0 2% 0 2%;
}

.logoNav{
    width: 15%;
    height: 100%;
    padding: 5px;
}

.logoNav img{
    height: 100%;
}
.logoNav img:hover{
    transition: all 0.05s ease;
    transform: translate(-1px);
    filter: drop-shadow(3px 3px 0px black);
}

nav{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
    gap: 120px;

}

nav ul li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
    color: #282855;
    font-size: 2rem;
}

/* https://codepen.io/kazemi/pen/aGXbMm  Efecto 15*/

nav ul li a::before,nav ul li a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

nav ul li a:before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

nav ul li a:after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

nav ul li a:hover:before, nav ul li a:hover:after, nav ul li a:focus:before, nav ul li a:focus:after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}


.user,.cerrarSesion{
    width: 5%;
    height: 100%;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}
.user p{
    width: 100%;
    color: #284880;
    text-align: center;
    font-size: 1.2em;
}
.cerrarSesion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;
}
.user img{
    width: 65%;
    display: block;
    margin: auto;
}
.cerrarSesion img{
    width: 80%;
}

.cerrarSesion:hover{
    transition: all 0.05s ease;
    filter: drop-shadow(2px 2px 1px rgb(0, 0, 0));
}

@media only screen and (max-width: 640px)  {
    header{
        /*
        bottom: 0;
        left: 0;*/
        height:10%;
        padding:0%;
    }
    .logoNav{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logoNav img{
        height: auto;
        width: 100%;
    }
    nav{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    nav ul{
        gap: 0px;

    }
    nav ul li a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        font-size: 1rem;
    }
    .cerrarSesion, .user{
        width: 15%;
    }
    .user{
        height: 80%;
    }
    .user img{
        width: 80%;
    }
    .user p{
        font-size: 1rem;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .logoNav{
        width: 30%;
    }
    .logoNav img{
        height: 100%;
    }
    nav{
        width: 60%;
    }
    nav ul{
        gap: 50px;
    }
    nav ul li a{
        font-size: 1.8rem;
    }
    .cerrarSesion, .user{
        width: 10%;
    }
    .user img{
        width: 70%;
    }
}
