*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.personajesEquipoCont,.personajesEquipoCont2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.personajesEquipoCont{
    height: 550px;
    width: 50%;
    background-color: #bfbfc1;
    border-radius: 20px;
    box-shadow: 10px 10px #4f4f51 ;
    border: px solid #4f4f51 ;
    margin: 100px;
}

.personajesEquipoCont2{
    background-color: #5f6974;
    border-radius: 10px 10px 80px 10px;
    height: 80%;
    width: 90%;
    padding: 10px;
    border: 4px solid #535b66;
    box-shadow: 3px 3px #393e46;

}
.personajesEquipoCont3{
    background-color: #778530;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(../img/fondoCesped.jpg);
    border-radius: 2px;
    height: 90%;
    width: 85%;
    box-shadow: inset 10px 10px 20px ;
}
.personajesEquipos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
}
.listaPersonajeCont{
    height: 75%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
}
.personajeCont{
    width: 20%;
    height: 30%;
}
.personajeCont_img{
    height:100% ;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;


}
.personajeCont_img img{
    height: 100%;
    margin-top: 5%;
}
.personajeCont_infoCont{
    height: 30%;
    width: 90%;
    margin: auto;
    background-color: #944239;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
}
.personaje_nombre{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.personajeCont_elemento{
    height: 100%;
    width: 30%;
    background-image: url(../img/Elementos/Aire.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;

}