
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



.titulo{
    font-size: 1.5rem;
    width: auto;
    height: auto;
}

input,select{
    border: none;
}
.puntoRestante{
    width: 100%;
}

.valorPuntos{
    width: 10%;

}
.contenedorSelects{
    border: 1px solid black;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-block: 60px;
}

.cajaJuego{
    border: 1px solid black;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cajaEquipo{
    border: 1px solid black;
    width: 50%;
    margin: 0;
}


.cajaSelect{
    border: 1px solid black;
    width: 100%;
}

.cajaNomApoGenPos{
    margin-block: 40px;
}


hr{
    background-color: black;
    width: 75%;
    height: 2px;
}

.boton{
    background-image: url('../../img/boton.png');
}

@media only screen and (max-width: 640px)  {

    .tituloPrincipal{
        font-size: 1.4rem;
        margin: 5%;
    }
    .titulo{
        font-size: 1.2rem;
    }
    .textoPuntos{
        width: 80%;
    }
    .valorPuntos{
        width: 20%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {

}