.logoInazuma{
    display: none;
}

form{
    height: 85%;
}

.tituloRegistrar{
    font-size: 2rem;
    color: white;
    height: 10%;
    margin-top: 50px;
}
.formContenedor{
    height: 65%;
}
.cajaInicio {
    height: 79%;
    margin-top: 8%;
    margin-left: 10%;
    width: 35%
}

.correo {
    width: 80%;
    height: 50%;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.correo, .usuario,.contrasena{
    height: 60%;
}
.correo h2{
    margin-top: 10px;
    width: 100%;
}

.correo input,.usuario input, .contrasena input{
    width: 100%;
    height: 40%;
    border-radius: 10px;
    font-size: 1.7rem;
    margin-bottom: 5px;
    padding: 0 20px 0 20px;
    border: none;
}
#alertaNombre,#alertaCorreo,#alertaContrasena{
    color: red;
    height: 15%;
    width: 100%;
    padding: 0 5px 0 5px;
}
.boton{
    border: none;
    font-family: "Pixelify Sans", sans-serif;
    padding: 15px;
}

.iniciarSesion{
    height: 10%;
}
.mensaje{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size:1rem;
    text-align: center;
}

.botonAtras{
    position: absolute;
    top: 4%;
    left: 4%;
    z-index: 3;
    height: 70px;
    width: 70px;
    transition: all 0.2s ease;
}
.botonAtras:hover{
    filter: drop-shadow(3px 3px 1px black);
}

@media (min-width: 640px) and (max-width: 1024px) {
    form{
        height: 80%;
    }
    .tituloRegistrar{
        font-size: 2.5rem;
    }
    .cajaInicio {
        height: 100%;
        width: 100%;
        margin-left: 0;
        position: absolute;
        bottom: 0;
        border-radius: 0;
    }
    .boton{
        font-size: 2rem;
    }
    .mensaje{
        font-size: 1.2rem;
        padding: 20px
    }
}

@media only screen and (max-width: 640px) {
    .tituloRegistrar{
        margin-top: 30px;
        font-size: 1.8rem;
    }
    
    .cajaInicio {
        height: 100%;
        width: 100%;
        margin-left: 0;
        position: absolute;
        bottom: 0;
        border-radius: 0;
    }

    .formContenedor{
        margin-bottom: 0px;
    }

    .mensaje{
        font-size: 0.9rem;
        padding: 20px
    }

    .botonAtras{
        top: 1%;
        left: 1%;
        height: 50px;
        width: 50px;
        font-size: 1.5rem;
        background-color: none;
    }
    #alertaNombre,#alertaCorreo,#alertaContrasena{
        color: #6e2110;
        height: 15%;
        width: 100%;
    }
}

