@font-face {
    font-family: 'Inazuma';
    src: url(../fuentes/ttg_by_westralinc-dbnnkt8.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f59701;
}

.caja {
    font-family: "Pixelify Sans", sans-serif;
    background-image: url('../../img/fondos/fondo1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.tituloCaja{
    height: 30%;
    width: 45%;
    left: 15%;
    position: absolute;
    top: 2%;
}
.logoInazuma{
    width: 100%;
}
.cajaInicio {
    height: 60%;
    width: 30%;
    background-color: #006265;
    border-radius: 15px;
    margin-top: 16%;
    margin-top: 18%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
    position: absolute;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.formContenedor {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContenedor h2{
    font-size: 1.8em;
}

.usuario,
.contrasena {
    width: 80%;
    height: 50%;
    color: white;
}


.usuario, .contrasena{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.usuario h2{
    margin-top: 10px;
    width: 100%;
}

.usuario input, .contrasena input{
    width: 100%;
    height: 32%;
    border-radius: 10px;
    font-size: 1.7rem;
    margin-bottom: 15px;
    padding: 0 20px 0 20px;
    border: none;
}

.contrasena h2{
    margin-top: 10px;
    width: 100%;
}



.iniciarSesion{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton{
    background-color: #e2550b;
    width: 80%;
    height: 10%;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    position: absolute;
    font-size: 1.6rem;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.boton:hover {
    background-color: #ff6c40;
}

.registro {
    width: 100%;
    height: 10%;
    font-size: 1.2rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registroEnlace{
    color: #f59701;
    cursor: pointer;
    text-decoration: none;
}

/*DISPOSITIVOS MÓVILES*/
@media only screen and (max-width: 640px) {
    .caja {
        background-size:170%;
        background-repeat: no-repeat;
        background-position: calc(100% ) calc(100% - 65%);
    }
    
    .cajaInicio {
        height: 37%;
        width: 100%;
        margin-left: 0;
        position: absolute;
        bottom: 0;
        border-radius: 45px 45px 0 0;
    }

    .formContenedor{
        margin-bottom: 10px;
    }

    .usuario h2,.contrasena h2{
        width: 100%;
        font-size: 1.4rem;
    }

    .usuario input,.contrasena input{
        border-radius: 5px;
        height: 38%;
        margin-top: 5px;
    }

    .boton{
        padding: 6px 8px 6px 8px;
        font-size: 1.5rem;
        height: 15%;
    }

    .registro{
        font-size: 1rem;
    }
    .tituloCaja{
        width: 100%;
        left: 0;
        padding: 3%;
    }
    .registroEnlace{
        font-size: 0.8rem;
    }
}

@media (min-width: 640px) and (max-width: 1024px) {

    .caja {
        background-size:150%;
        background-repeat: no-repeat;
        background-position: calc(100% ) calc(100% - 65%);
    }
    
    .cajaInicio {
        height: 35%;
        width: 100%;
        margin-left: 0;
        position: absolute;
        bottom: 0;
        border-radius: 45px 45px 0 0;
    }

    .formContenedor{
        margin-bottom: 10px;
    }

    .usuario h2,.contrasena h2{
        width: 100%;
        font-size: 2rem;
    }

    .usuario input,.contrasena input{
        border-radius: 5px;
        height: 38%;
        margin-top: 10px;
    }

    .boton{
        padding: 6px 8px 6px 8px;
        font-size: 1.9rem;
        padding: 15px;
        height: 15%;
    }

    .registro{
        font-size: 1rem;
    }
    .tituloCaja{
        width: 100%;
        left: 0;
        padding: 3%;
    }
    .registroEnlace{
        font-size: 1.5rem;
    }
}