* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main{
    margin-top: 300px;
}
.buscarJugador,.agregarJugador,.eliminarJugador{
    border: 2px solid black;
    height: 100px;
    width: 200px;

}
