*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: calc(100vh - 80px); /* Altura de la ventana menos la altura del header */
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fceda3;
    padding-top: 40px;
}

.titulo{
    width: 40%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 28px;
}

.formulario{
    width: 100%;
    height: 90%;
    border: 1px solid black;
}

.cajaNomApoGenPos{
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}

.datos{
    background-color: aqua;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.cajaPregunta{
    background-color: rgb(156, 156, 255);
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-block: 20px;
}

.tipo{
    font-size: 20px;
    margin-block: 10px;
    width: 100%;
}

.selector{
    width: 70%;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
}

.estadisticas{
    background-color: yellow;
}