header{
    width: 100%;
    height:80px;
    background-color: rgba(60, 97, 97, 0.466);
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Jersey 10", sans-serif;
}

.logoNav{
    width: 10%;
    height: 100%
}

.logoNav img{
    width: 100%;
    height: 100%;
}

nav{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
    gap: 120px;

}

nav ul li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
    color: #282855;
    font-size: 2rem;
}

.cerrarSesion, .user{
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.cerrarSesion img, .user img{
    width: 80%;
}