@font-face {
    font-family: 'Inazuma';
    src: url(../fuentes/ttg_by_westralinc-dbnnkt8.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f59701;
}

.caja {
    background-image: url('../img/fondo1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.tituloContenedor {
    width: 40%;
    height: 30%;
    position: absolute;
    top: 2%;
    left: 20%;
}

.logoImg {
    height: 200px;
    position: absolute;
}

.comparadorImg {
    height: 120px;
    position: absolute;
    top: 47%;
    left: 55%;
    filter: drop-shadow(10px 5px 2px gray);
}

.cajaInicio {
    height: 60%;
    width: 26%;
    background-color: #006265;
    border-radius: 15px;
    margin-top: 16%;
    margin-top: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 8%;
    position: absolute;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.formContenedor {
    border: 1px solid #000000;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.usuario,
.contrasena {
    width: 80%;
    height: 50%;
    color: white;
    margin-top: 10px;
}

.usuario input,
.contrasena input {
    width: 100%;
    max-height: 50%;
    height: 50%;
    font-size: 1.5rem;
    border-radius: 10px;
    margin-top: 15px;
}
.iniciarSesion{
    border: 1px solid #ff0000;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton{
    background-color: #e2550b;
    text-align: center;
    width: 80%;
    padding: 15px 20px 15px 20px;
    margin: auto;
    cursor: pointer;
    position: absolute;
    font-size: 1.9rem;
    border-radius: 10px;
    color: white;
}

.boton:hover {
    background-color: #ff6c40;
}

.contrasena,
input {
    border: none;
}
@media screen and (max-width: 767px) {
    .caja {
        background-image: url('../img/fondo1.png');
        background-size:150%;
        background-repeat: no-repeat;
        background-position: calc(100% ) calc(100% - 70%);
    }
    .tituloContenedor {
        width: 100%;
        height: 20%;
        position: absolute;
        left: 0;
        top: 0;
    }
    .logoImg {
        height: 100px;
        position: absolute;
    }
    .comparadorImg {
        height: 55px;
        position: absolute;
        top: 48%;
        left: 45%;
        filter: drop-shadow(10px 5px 2px gray);
    }
    form{
        align-items: center;
    }
    .formContenedor {
        width: 80%;
        height: 60%;
        padding-top: 13%;
        position: absolute;
    }
    .cajaInicio {
        height: 40%;
        width: 100%;
        margin-left: 0;
        position: absolute;
        bottom: 0;
        border-radius: 45px 45px 0 0;

    }
    .formContenedor {
        width: 80%;
        height: 60%;
        margin-top: 3%;
        padding-top: 0;
    }
    .formContenedor h2{
        font-size: 1.3rem;
    }
    .usuario,
    .contrasena {
        width: 100%;
        height: 40%;
        margin-top: 15px;
    }

    .usuario input,
    .contrasena input {
        width: 100%;
        height: 60%;
        font-size: 1.5rem;
        border-radius: 5px;
        margin-top: 5px;
    }
    .iniciarSesion{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15%;
    }
    .boton{
        background-color: #e2550b;
        text-align: center;
        height: 19%;
        padding: 15px 20px 15px 20px;
        position: absolute;
        bottom: 10%;
        font-size: 1.3rem;
        border-radius: 10px;
        color: white;
    }
    


}