@font-face {
    font-family: 'Inazuma';
    src: url(../fuentes/ttg_by_westralinc-dbnnkt8.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f59701;
}

.caja {
    background-image: url('../img/fondo1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.tituloCaja{
    height: 45%;
    left: 15%;
    position: absolute;
}
.logoInazuma{
    height: 100%;
    width: 100%;
}
.cajaInicio {
    height: 60%;
    width: 30%;
    background-color: #006265;
    border-radius: 15px;
    margin-top: 16%;
    margin-top: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 8%;
    position: absolute;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.formContenedor {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.usuario,
.contrasena {
    width: 80%;
    height: 50%;
    color: white;
    margin-top: 10px;
}

.usuario input,
.contrasena input {
    width: 100%;
    max-height: 50%;
    height: 50%;
    font-size: 1.5rem;
    border-radius: 10px;
    margin-top: 15px;
}
.iniciarSesion{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton{
    background-color: #e2550b;
    text-align: center;
    width: 80%;
    padding: 15px 20px 15px 20px;
    margin: auto;
    cursor: pointer;
    position: absolute;
    font-size: 1.9rem;
    border-radius: 10px;
    color: white;
}

.boton:hover {
    background-color: #ff6c40;
}

.registro {
    height: 15%;
    font-size: 1.2rem;
    margin: auto;
}

.registroEnlace{
    color: #b8371c;
    cursor: pointer;
    text-decoration: none;

}

.contrasena,input {
    border: none;
}

/*DISPOSITIVOS MÓVILES*/
@media screen and (max-width: 767px) {
    .caja {
        background-image: url('../img/fondo1.png');
        background-size:150%;
        background-repeat: no-repeat;
        background-position: calc(100% ) calc(100% - 70%);
    }
    form{
        align-items: center;
    }
    .cajaInicio {
        height: 45%;
        width: 100%;
        margin-left: 0;
        position: absolute;
        bottom: 0;
        border-radius: 45px 45px 0 0;
    }
    .formContenedor {
        width: 80%;
        height: 60%;
        margin-top: 2%;
        padding-top: 0;
        position: absolute;

    }
    .formContenedor h2{
        font-size: 1.3rem;
    }
    .usuario,
    .contrasena {
        width: 100%;
        height: 40%;
        margin-top: 15px;
    }

    .usuario input,
    .contrasena input {
        width: 100%;
        height: 60%;
        font-size: 1.5rem;
        border-radius: 5px;
        margin-top: 5px;
    }
    .boton{
        background-color: #e2550b;
        text-align: center;
        height: 17%;
        padding: 10px 20px 15px 20px;
        position: absolute;
        bottom: 17%;
        font-size: 1.3rem;
        border-radius: 10px;
        color: white;

    }
    .registro{
        position: absolute;
        bottom: 0;
    }
    .tituloCaja{
        height: 30%;
        left: 0%;
        position: absolute;
    }
    .logoInazuma{
        height: 100%;
    }
}
/*DISPOSITIVOS TABLET*/
@media (min-width: 767px) and (max-width: 1024px) {
    .caja {
        background-image: url('../img/fondo1.png');
        background-size:150%;
        background-repeat: no-repeat;
        background-position: calc(100% ) calc(70% - 70%);
    }
    .tituloCaja{
        height: 25%;
        left: 10%;
    }
    .logoInazuma{
        height: 100%;
    }
    .cajaInicio {
        height: 50%;
        width: 100%;
        margin-left: 0;
        position: absolute;
        bottom: 0;
        border-radius: 45px 45px 0 0;
    }
    .formContenedor{
        margin-top: 3%;
    }
    .boton{
        height: 13%;
        padding: 10px 20px 10px 20px;
        font-size: 1.5rem;
    }
    
}