* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Inazuma";
    src: url(../fuentes/ttg_by_westralinc-dbnnkt8.ttf);
}

body {

    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    position: relative;
}

.portada {
    width: 100%;
    height: 100%;
    overflow: hidden;
}



.parallax {
    position: relative;
    width: 100%;
    height: 100vh;
}

.img {
    position: absolute;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img2 {
    background-image: url('../img/portada_recortada.png');
    background-size: contain;
    background-position: right;
    width: 95%;
    height: 100%;
    margin-top: 30px;

}

.img3 {
    background-image: url('../img/logo/InazumaElevenComparadorLogo.png');
    width: 60%;
    height: 60%;
    margin-top: 50px;
    background-size: contain;

}

.img1 {
    background-image: url('../img/flechaAzul.png');
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: bottom;
    transform: translate(-100%, -100%);

}

/*----Personaje vs personaje----*/
.campoComparacion{
    width: 100%;
    height: 1000px;
    top: 0%;
    background-image: url(../img/football-field.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comparacionContenedor {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personaje1,
.personaje2 {
    height: 70%;
    width: 25%;
    margin: 0 5% 0 5%;
    padding-top: 5%;
    
}

.personajeIcono1,
.personajeIcono2 {
    width: 75%;
    margin: auto;
    border: 4px solid #fde812;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    aspect-ratio: 1 / 1;
    background: linear-gradient(30deg, rgba(125, 204, 243) 0%, rgba(0, 184, 238) 36%, rgba(0, 77, 182) 70%, rgba(24, 0, 143) 100%);
}

.personajeIcono1Img,
.personajeIcono2Img {
    height: 100%;
    cursor: pointer;
}

.nombrePersonajeContenedor1,
.nombrePersonajeContenedor2 {
    margin: auto;
    width: 90%;
    background-color: #004dc2;
    border-radius: 3px;
    padding: 10px;
    font-size: 1.4rem;
}

.nombrePersonajeContenedor1 p,
.nombrePersonajeContenedor2 p {
    text-align: center;
    padding: 10px 5px 10px 5px;
}

.vsContenedor {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vsImg {
    height: 60%;

}

/*---Menu pop up---*/
.menuPopUp {
    display: none;
    width: 65%;
    max-height: 25%;
    background-color: #bfbfc1;
    border: 5px solid #868687;
    position: absolute;
    color: white;
    font-family: "Jersey 10", sans-serif;
    border-radius: 20px;
    box-shadow: 15px 15px #4f4f51 ;
}

.juegoContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tituloJuego {
    background-color: #262624;
    width: 100%;
    padding: 10px;
    font-size: 2rem;
}

.equiposContenedor {
    display: none;
    background-color: #bfbfc1;
    width: 100%;
    padding: 10px;
}
.contenidoEquipos {
    margin: auto;
    width: 100%;
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px;
    background-color: #bfbfc1;
}
.equipo {
    font-size: 1.3rem;
}
.equipoImg {
    height: 100px;
    width: 100px;
    margin: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.equipoNombre {
    padding: 0 10px 0 10px;
    background-color: #5f6974;
    border:3px solid #535b66;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 4px 4px #393e46;
}

/*contenedor de personajes*/
.contenidoJuegoContenedor,.contenidoJuegoContenedor2,.contenidoJuego_personajesCont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenidoJuegoContenedor{
    background-color: #5f6974;
    border-radius: 10px;
    height: 80%;
    width: 100%;
    border: 4px solid #535b66;
    box-shadow: 4px 4px #393e46;
}
.contenidoJuegoContenedor2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(../img/fondoCesped.jpg);    
    width: 90%;
    margin: 3% 0 3% 0;
    box-shadow: inset 10px 10px 20px black;
    border-radius: 2px;
}
.contenidoJuego_personajesCont{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    margin: 2% 0  2% 0;
}
.personajeCont{
    width: 80px; 
    height: 90px;
    margin: 5px 2% 5px 2%;
}
.personajeCont:hover .personajeImgCont{
    background-size: 90%;
    
}
.personajeImgCont{
    height: 75%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center calc(100% - -2px); 
    background-size: contain;
}

.personajeInfo{
    background-color: #555;
    width: 100%;
    height:25% ;
    display: flex;
}
.personajeInfo_elemento{
    height: 100%;
    width: 30%;
    background-color: #282855;
}
.personajeInfo_nombre{
    width: 70%;
    text-align: center;
    font-size: 1.1rem;
    flex: 1;
}

/*---Zona de datos---*/
.contenidoContenedor {
    height: 1800px;
    width: 100%;
    border-top: 5px solid #fde812;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("../img/bg_movie_pc.jpg");
    background-size: cover;
    background-position: center;
}

.flechaTituloContenedor {
    margin-top: -50px;
    margin-left: 2%;
    max-width: 650px;
    height: 10%;
    max-height: 100px;
    position: relative;
}

.flechaTituloImg {
    height: 100%;
    width: 100%;
    position: relative;
}

.markCorriendo {
    height: 120%;
    position: absolute;
    left: 5%;
    bottom: -6%;
}
.seccionStats{
    font-family: "Teko", sans-serif;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.seccionGrafica {
    border: 5px solid #e4d316;
    height: 25%;
    width: 30%;
    border-radius: 10px;
    background-color: #ffffff;
    margin: auto;

}

.seccionStats2 {
    font-family: "Jersey 10", sans-serif;
    height: 65%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personajeStat {
    height: 100%;
    max-height: 600px;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #78aaca;
    border: 4px solid #e4d316;
}

.infoPersonaje {
    height: 30%;
    width: 100%;
    background-color: #78aaca;
    border-radius: 5px 5px 0 0;
}

.nombre-genero {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2f477c;
    border-bottom: 4px solid #2f91ae;
}

.nombreEnStatCont {
    width: 85%;
    height: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgSexoCont {
    width: 15%;
    height: 100%;
    background-color: #2f477c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgSexoCont img {
    height: 70%;
    width: 80%;
}

.descripcion-tipo {
    height: 55%;
    width: 100%;
    background-color: #539eb5;
    display: flex;
    padding: 10px;
}

.botonDescripcion {
    width: 70%;
    height: 100%;
    cursor: pointer;
    transition: all 0.15s ease;
    position: relative;
    font-size: 1.6em;
    display: flex;
    display: inline-block;
}

.botonDescripcion:hover .textoDesplegable {
    display: block;
}

.botonDescripcion img {
    height: 100%;
    width: 100%;
    position: absolute;
}

.descripcionTxt {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

@keyframes moveArrow {
    0% {
        bottom: -5px;
    }

    50% {
        bottom: 3px;
    }

    100% {
        bottom: -5px;
    }
}

.flechaDescripcion {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    animation: moveArrow 0.8s infinite;
}

.textoDesplegable {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: #284880;
    border: 4px solid #2f91ae;
    border-radius: 3px;
    z-index: 1;
    width: 100%;
    font-size: 1.2rem;
}

.botonDescripcion:hover .flechaDescripcion {
    animation: none;
}

.tipo {
    width: 30%;
    display: flex;
}

.elementoCont {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.posicionCont {
    border: 5px solid #99c9e2;
    background-color: #5096b5;
    width: 100%;
    height: 50%;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statsPersonaje {
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.stat,
.flechaComp {
    display: flex;
    flex: 1;
    align-items: center;
    text-align: center;
}

.stat {
    margin: 5px 0 5px 0;
    /*espacio entre los div */
    justify-content: space-between;
    border-top: 10px solid #2f477c;
    border-bottom: 3px solid #2f91ae;
    background-color: #282855;
    font-size: 1.7rem;
    padding: 0 15% 0 15%;
}

.flechasComparacion {
    height: 100%;
    width: 25%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flechasCont {
    height: 70%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.flechaComp {
    height: 10%;
    width: 40%;
    margin: 10px 30% 15px 30%;
    justify-content: center;
}



/*----Música----*/
.btnMusica {
    position: fixed;
    bottom: 1%;
    right: 1%;
    width: 80px;
    height: 80px;
    z-index: 100;
    cursor: pointer;
}

.btnMusica img {
    width: 100%;
    height: 100%;
}

/* Keyframes es una regla que permite crear animaciones en CSS */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotating {
    animation: rotate 5s linear infinite;
    /* ajusta la duración y el tipo de animación según lo necesites */
}

/* MÓVILES */
@media screen and (max-width: 767px) {
    .portada {
        width: 100%;
        height: 100vh;
        background-image: url("../img/inazuma-eleven-123-endou-mamoru-densetsu-game-wallpaper-altar-of-gaming.webp");
        background-repeat: no-repeat;
        background-size: 180%;
        background-position: right bottom;
        border-bottom: 5px solid #fde812;
        position: relative;
    }

    .tituloContenedor {
        width: 100%;
        height: 30%;
        margin-top: 10%;
        overflow: hidden;
    }

    .logoImg {
        height: 90%;
    }

    .main {
        height: 100%;
        background-image: url("../img/football-field\ -\ volteado.png");
        background-position: center;
        background-size: cover;
    }

    .comparacionContenedor {
        flex-direction: column;
        height: 30%;
        justify-content: space-between;
        /* Espacio uniformemente distribuido entre los elementos */
    }

    .personaje1,
    .personaje2 {
        width: 50%;
        height: 60%;
        margin: 10px 0;
    }

    .personajeIcono1,
    .personajeIcono2 {
        height: 65%;
        width: 90%;
        margin: auto;
        overflow: hidden;
        margin-bottom: 20px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    .vsContenedor {
        height: 30%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nombrePersonajeContenedor1,
    .nombrePersonajeContenedor2 {
        margin: auto;
        width: 90%;
        background-color: #004dc2;
        border-radius: 3px;
    }

    .nombrePersonajeContenedor1 p,
    .nombrePersonajeContenedor2 p {
        text-align: center;
        padding: 5px;
    }
}

/* TABLETS */
@media (min-width: 767px) and (max-width: 1024px) {
    .personaje1,
    .personaje2 {
        width: 30%;
    }

    .vsContenedor {
        width: 10%;
    }
}
