*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Inazuma';
    src: url(../fuentes/ttg_by_westralinc-dbnnkt8.ttf);
}



.fondo{
    width: 100%;
    height: 100%;
}

/*
.logo{
    width: 40%;
    position: absolute;
    top: 2%;
    left: 5%;
}

.logo img{
    width: 100%;
    height: 100%;
}

.titulo{
    width: 50%;;
    position: absolute;
    top: 9%;
    text-align: center;
    font-family: 'Inazuma';
    font-size: 1.3rem;  
}
*/

/*Prueba para titulo*/

.portada{
    width: 100%;
    height: 800px;
    background-image: url("../img/inazuma-eleven-123-endou-mamoru-densetsu-game-wallpaper-altar-of-gaming.webp");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/
    border-bottom: 5px solid #fde812;

}
.tituloContenedor{
    width: 50%;
    height: 45%;
    top: 60px;
    position: relative;
    transition: all 0.3s ease;
}
.logoImg{
    height: 300px;
    position: absolute;
    top: 5%;
    left: 5%;
}
.comparadorImg{
    height: 170px;
    position: absolute;
    top:55%;
    left: 55%;
    filter: drop-shadow(10px 5px 2px gray);
}

.main{
    height: 1000px;
    background-color: antiquewhite;
    background-image: url("../img/football-field.png");
    padding-top: 700px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*----Personaje vs personaje----*/
.comparacionContenedor{
    height: 500px;
    width: 80%;
    position: absolute;
    z-index: 5;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.personaje1, .personaje2{
    height: 350px;
    width: 250px;
    margin: 0 30px 0 30px;
}
.personajeIcono1,.personajeIcono2{
    height: 65%;
    width: 90%;
    margin: auto;
    border: 2px solid black;
    overflow: hidden;
    margin-bottom: 20px;
}
.personajeIcono1Img,.personajeIcono2Img{
    height: 100%;
    cursor: pointer;
}

.nombrePersonajeContenedor1,.nombrePersonajeContenedor2{
    margin: auto;
    width: 90%;
    background-color: #004dc2;

}
.nombrePersonajeContenedor1 p,.nombrePersonajeContenedor2 p{
    text-align: center;
    padding: 10px 5px 10px 5px;
}
.vsContenedor{
    height: 400px;
    width: 250px;
}
.vsImg{
    height: 100%;
}
.contenidoContenedor{
    height: 800px;
    width: 100%;
    background-image: url("../img/fondoCesped.jpg");
    border-top: 5px solid #fde812;
    position: absolute;
}
.flechaTituloContenedor{
    margin-top: -50px;
    margin-left: 2%;
}

/*----Música----*/
.btnMusica{
    position: fixed;
    bottom: 1%;
    right: 1%;
    width: 80px;
    height: 80px;
    z-index: 100;
    cursor: pointer;
}

.btnMusica img{
    width: 100%;
    height: 100%;
}

/* Keyframes es una regla que permite crear animaciones en CSS */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating {
    animation: rotate 5s linear infinite; /* ajusta la duración y el tipo de animación según lo necesites */
}

